<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.avans.praktijkhoogbegaafd"
    android:versionCode="4"
    android:versionName="1.4.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".logic.app"
        android:allowBackup="true"
        android:icon="@mipmap/ic_phr_stars_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_phr_stars_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PraktijkHoogbegaafd">
        <activity android:name=".ui.ScreenShotActivity"></activity>
        <activity android:name=".ui.ShareActivity" />
        <activity android:name=".ui.GiveInfoActivity" />
        <activity android:name=".ui.StartupActivity" />
        <activity android:name=".ui.questionActivities.QuestionSummary" />
        <activity android:name=".ui.questionActivities.QuestionSenzo" />
        <activity android:name=".ui.questionActivities.QuestionPsymo" />
        <activity android:name=".ui.questionActivities.QuestionIntellecto" />
        <activity android:name=".ui.questionActivities.QuestionFanti" />
        <activity android:name=".ui.questionActivities.QuestionEmoto" />
        <activity
            android:exported="true"
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.PraktijkHoogbegaafd.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name=".logic.CachedFileProvider"
            android:authorities="nl.avans.praktijkhoogbegaafd.logic.CachedFileProvider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <receiver android:name=".logic.ReminderBroadcast"/>
    </application>

</manifest>